# environments
.env
.env.*
!.env.example
.venv
.venv.*
!.venv.example

# own cookies
langbite/resources/hugchat_cookies.json

# inputs and outputs folders
inputs
outputs
reports

# byte-compiled / optimized / DLL files
__pycache__