# environments
.env
.env.*
!.env.example
.venv
.venv.*
!.venv.example

.vscode
.vscode.*
.vscode/*

# only for local testing, hugging chat and own cookies
langbite/resources/hugchat_cookies.json
langbite/huggingchat

# inputs and outputs folders
inputs
outputs
reports

# byte-compiled / optimized / DLL files
__pycache__